1. Create DataFrame

In [3]:
import pandas as pd

data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[22,24,23],
    "Marks":[85,90,88]
}
df=pd.DataFrame(data)
print(df)

df.to_csv('data.csv', index=False)
print('DataFrame saved to data.csv')

      Name  Age  Marks
0    Alice   22     85
1      Bob   24     90
2  Charlie   23     88
DataFrame saved to data.csv

2. Read CSV

In [4]:
df = pd.read_csv("data.csv")
print(df.head())

      Name  Age  Marks
0    Alice   22     85
1      Bob   24     90
2  Charlie   23     88

3. Basic operations

In [5]:
print(df["Age"].mean())
print(df["Marks"].max())

23.0
90

4. Filtering

In [7]:
print(df[df["Marks"]>85])

      Name  Age  Marks
1      Bob   24     90
2  Charlie   23     88