1. Basic Program

In [1]:
name= input("Enter your name: ")
age= int(input("Enter your age: "))

print(f"My name is {name} and I am {age} years old.")

Enter your name: Ankit
Enter your age: 23
My name is Ankit and i am 23 years old.

2. Even or Odd

In [2]:
num=int(input("Enter a number: "))
if num % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Enter a number: 23
Odd number

3. List Operations

In [3]:
numbers= [10,20,30,40,50]

print("Sum: ",sum(numbers))
print("Max: ",max(numbers))
print("Min: ",min(numbers))

Sum:  150
Max:  50
Min:  10

4. Function Example

In [4]:
def square(num):
  return num*num

print(square(5))

25

5. Loop Task

In [5]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10