1. Factorial of a number

In [1]:
def factorial(n):
  result = 1
  for i in range(1,n+1):
    result *= i
  return result

In [4]:
factorial(6)

720

2. Largest and smallest number in a list

In [8]:
def find_min_max(numbers):
  if not numbers:
    return None

  smallest = numbers[0]
  largest = numbers[0]

  for num in numbers:
    if num<smallest:
      smallest = num
    if num>largest:
      largest=num

  return smallest,largest

numbers=[1,2,3,4,5,6,7,8,9,10]
print(find_min_max(numbers))
#numbers=input("Enter a list of numbers separated by spaces: ")
#print(find_min_max(numbers))

(1, 10)

3. Fibonacci Sequence upto N terms

In [23]:
def fibonacci_sequence(n):
  a,b = 0,1
  for i in range(n):
    print(a,end="")
    a,b = b,a+b

In [24]:
fibonacci_sequence(6)

011235

4. Create a square frame pattern

In [25]:
def square_frame(n):
  for i in range(n):
    for j in range(n):
      if i==0 or i==n-1 or j==0 or j==n-1:
        print('*',end=" ")
      else:
        print(" ",end=" ")
    print()

In [26]:
square_frame(5)

* * * * *
*       *
*       *
*       *
* * * * *

5, Sum of digits in a number

In [27]:
def sum_of_digits(n):
  total=0
  for digits in str(n):
    total += int(digits)
  return total

In [28]:
sum_of_digits(45)

9